<div class="wrapper">
	<h4>Playing Now</h4>

	<ul class="list-group" *ngIf="currentlyPlaying">
		<li class="list-group-item bg-dark text-light">
			<div class="track-info">
				<h5>{{currentlyPlaying.track.trackName}}</h5>
				<div><b>{{currentlyPlaying.track.artists}}</b> on <i>{{currentlyPlaying.track.albumName}}</i></div>
				<div *ngIf="currentlyPlaying.timeLeft>0">
					<small><i>-{{currentlyPlaying.timeLeft | minuteSeconds}}</i></small>
				</div>
			</div>
			<div class="track-cover">
				<img src="{{currentlyPlaying.track.coverUrl}}" class="rounded" height="64" width="64"/>
			</div>
		</li>
	</ul>

	<div *ngIf="!currentlyPlaying">
		<p>No Active Tracks</p>
	</div>
</div>
