.title-with-spinner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.spinner {
	margin-bottom: 6px;
}

.list-group-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}